* {
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* NAVEGADOR */
nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    line-height: 10vh;
    padding: 0 10%;
}

.nav-logo {
    padding: 12px 0;
}

.logo-imagen {
    width: 60%;
}

.nav-enlaces a {
    text-decoration: none;
    color: #C9C9C9;
    padding-left: 70px;
    font-weight: lighter;
    font-size: 17px;
}

/* SECCION-1 */
.seccion-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.4)), url('../assets/images/headerBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    padding: 0% 11%;
    align-items: center;
}

/* SECCION-TEXTO-1 */
.seccion1-logo {
    width: 20%;
}

.seccion-1-titulo {
    padding: 2% 0;
    color: white;
    font-weight: 100;
    font-size: 55px;
}

.seccion-1-hr {
    width: 8%;
}

.seccion1-parrafo {
    color: #C2C0BE;
    padding: 3% 0;
    font-size: 25px;
    margin-right: 45%;
}

.seccion-1-boton {
    border-color: white;
    background-color: transparent;
    color: white;
    padding: 1% 4%;
    font-size: 20px;
    cursor: pointer;
}

/* SECCION-1 FORMULARIO */
.seccion-1-formulario {
    width:850px;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    text-align: center;
}

.formulario-titulo {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 20px;
    background: #F5F5F5;
    color: #333333;
}

.formulario-titulo span {
    color: #FF9B51;
}

input {
    width: 80%;
    padding: 10px 0;
    margin: 10% auto;
    display: block;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #ececec;
    outline: none;
}

.formulario-boton {
    width: 100%;
    background: #FF9B51;
    color: white;
    padding: 18px 0;
    font-size: 16px;
    border: none;
    margin-top: 5%;
    cursor: pointer;
}

/* SECCION-2 */
.seccion-2 {
    display: flex;
    justify-content: space-between;
    padding: 1% 11%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.212);
}

.socialmedia-titulo {
    color: #333333;
    font-size: 190%;
}

.socialmedia-parrafo {
    color: #86878B;
    font-size: 130%;
}

.seccion-2 img {
    padding: 20px 0;
    width: 4%;
    height: 4%;
}

/* SECCOPN-3 */
.seccion-3 {
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}

.seccion-3-cajasvertical {
    display: flex;
    flex-direction: column;

}

.texto-centro {
    padding: 0 10%;
    margin-right: 270px;
}

.caja-1 {
    background-color: #FF8B38;
    color: white;
    width: 150px;
    height: 150px;
    align-content: center;
    text-align: center;
}

.caja-2 {
    background-color: #333333;
    color: white;
    width: 150px;
    height: 150px;
    align-content: center;
    text-align: center;
    margin-top: 3px;
}

.texto-centro-parrafo {
    color: #86878B;
    line-height: 1.5rem;
    margin: 15% 0;
    font-size: 95%;
    margin-left: 10;
}

.texto-centro-titulo {
    color: black;
    font-size: 150%;
}

.texto-centro-boton {
    border: none;
    background-color: #FF8B38;
    color: white;
    padding: 3% 4%;
    border-radius: 2px;
}


/* SECCION-4 */
.seccion-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0 10%;
    gap: 10%;
}


.seccion-4-imagen-nube {
    display: flex;
}

.seccion-4-imagen-nube img {
    width: 5%;
    height: 5%;
}

/* SECCION-5 */
.seccion-5 {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    height: 100vh;
    background-color: #F5F5F5;

}

/* SECCIO-6 */
.seccion-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.seccion-6-titulo {
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
}

.seccion-6-hr {
    width: 5%;
    height: 3px;
    background-color: #FF8B38;
    border: none;
    margin: 2% 0;
}

.seccion-6-parrafo {
    color: #878787;
    font-size: 20px;
}

.seccion-6-horizontal {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    gap: 10%;
    margin-top: 5%;
}

.horizontal-1 img {
    width: 25%;
}

.horizontal-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.horizontal-titulo-1 {
    margin: 8% 0;
    font-size: 25px;
}

.horizontal-parrafo-1 {
    color: #878787;
}

/* SECCION-7 */
.seccion-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
}

.seccion-7-titulo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.seccion-7-parrafo {
    color: #555;
    margin-bottom: 40px;
}

.seccion-7-cartas {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.carta-1 {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.carta-1 h3 {
    background: #333333;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.carta-1-precio {
    font-size: 110px;
    background-color: #333;
    color: white;
    font-family: 'Raleway', sans-serif;
    ;
}

.carta-1-precio span {
    font-size: 40px;
    vertical-align: super;
}

.carta-1-parrafo {
    color: #555;
    background-color: #333;
    border-color: #FF8B38;
    border-bottom: 5%;
}

.carta-1 hr {
    margin: 0;
    border: none;
    border-top: 1px solid #ddd;
}

.carta-1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.carta-1 ul li {
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #444;
}

/* --- CARTA DEL MEDIO DESTACADA --- */
.carta-2 h3 {
    background: #333;
}

.carta-2 .carta-2-parrafo {
    font-style: italic;
}

.carta-2-parrafo-2 {
    background-color: #FF8B38;
    color: white;
    padding: 2% 0;
}

/* SECCION-9 */
.seccion-9 {
    background: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.4)), url(../assets/images/bg2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* SECCION-10 */
.seccion-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}

.seccion-10-primera-parte {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.seccion-10-titulo {
    font-size: 40px;
    font-weight: lighter;
}

.seccion-10-hr {
    width: 18%;
    height: 2px;
    background-color: #FF8B38;
    border: none;
}

.seccion-10-formulario {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 0 10%;
    width: 100%;
}

.seccion-10-formulario input {
    width: 200%;
    padding: 20px 0;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    outline: none;
}

.seccion-10-boton {
    background-color: #FF9B51;
    border: none;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
}

/* FOOTER */
footer {
    display: flex;
    background-color: #000000;
    flex-direction: column;
    align-items: center;
    color: #878787;
    padding: 1% 0;
}

.foteer-redes {
    display: flex;
    gap: 35px;
    justify-content: center;
    margin-bottom: 0.5%;
}

.foteer-redes img {
    width: 30px;
}

.copyright {
    font-size: 15px;
}