* {
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* NAVEGADOR */
nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    line-height: 10vh;
    padding: 0 10%;
}

.nav-logo {
    padding: 12px 0;
}

.logo-imagen {
    width: 60%;
}

.nav-enlaces a {
    text-decoration: none;
    color: #C9C9C9;
    padding-left: 70px;
    font-weight: lighter;
    font-size: 17px;
}

/* SECCION-1 */
.seccion-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.4)), url('../assets/images/headerBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    padding: 0% 11%;
    align-items: center;
}

/* SECCION-TEXTO-1 */
.seccion1-logo {
    width: 20%;
}

.seccion-1-titulo {
    padding: 2% 0;
    color: white;
    font-weight: 100;
    font-size: 2.8rem;
}

.seccion-1-hr {
    width: 8%;
    color: white;
}

.seccion1-parrafo {
    color: #C2C0BE;
    padding: 3% 0;
    font-size: 1.3rem;
    margin-right: 45%;
}

.seccion-1-boton {
    border-color: white;
    background-color: transparent;
    color: white;
    padding: 1% 4%;
    font-size: 1.3rem;
    cursor: pointer;
}

/* SECCION-1 FORMULARIO */
.seccion-1-formulario {
    width: 700px;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    text-align: center;
}

.formulario-titulo {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 20px;
    background: #F5F5F5;
    color: #333333;
}

.formulario-titulo span {
    color: #FF9B51;
}

input {
    width: 80%;
    padding: 10px 0;
    margin: 10% auto;
    display: block;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #ececec;
    outline: none;
}

.formulario-boton {
    width: 100%;
    background: #FF9B51;
    color: white;
    padding: 18px 0;
    font-size: 16px;
    border: none;
    margin-top: 5%;
    cursor: pointer;
}

/* SECCION-2 */
.seccion-2 {
    display: flex;
    justify-content: space-between;
    padding: 1% 11%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.212);
}

.socialmedia-titulo {
    color: #333333;
    font-size: 1.9rem;
}

.socialmedia-parrafo {
    color: #86878B;
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

.seccion-2 img {
    padding: 20px 0;
    width: 4%;
    height: 4%;
}

/* SECCION-3 */
.seccion-3 {
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
    padding: 0 11%;
}

.seccion-3-cajasvertical {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.caja-1,
.caja-2,
.caja-3 {
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.caja-1 {
    background: #ff8b38;
}

.caja-2,
.caja-3 {
    background: #333;
}

.texto-centro {
    max-width: 800px;
}

.texto-centro-titulo {
    font-size: 2rem;
    color: #000;
    margin-bottom: 70px;
}

.texto-centro-parrafo {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 70px;
}

.texto-centro-boton {
    border: none;
    background: #ff8b38;
    color: #fff;
    padding: 20px 40px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.1rem;
}

.texto-centro-imagen img {
    max-width: 500%;
}


/* SECCION-4 */
.seccion-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    padding: 0 11%;
    gap: 20%;

}

.seccion-4-imagen img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.seccion-4-texto {
    flex: 1;
}

.seccion-4-titulo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.seccion-4-hr {
    width: 110px;
    height: 3px;
    background: #FF8B38;
    border: none;
    margin: 2rem 0 20px 0;
}

.seccion-4-parrafo {
    color: #666;
    line-height: 1.6rem;
    margin-bottom: 50px;
    font-size: 1.1rem;
}

.seccion-4-imagen-nube {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 20px;
}

.seccion-4-imagen-nube img {
    width: 50px;
    height: 50px;
}

.seccion-4-titulo-nube {
    font-size: 1.2rem;
    font-weight: lighter;
    margin-bottom: 5px;
}

.seccion-4-parrafo-nube {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.5;
}


/* SECCION-5 */
.seccion-5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    padding: 0 11%;
    gap: 20%;
    background: #f7f7f7;
}

.seccion-5-texto {
    flex: 1;
}

.seccion-5-titulo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
}

.seccion-5-hr {
    width: 110px;
    height: 3px;
    background: #FF8B38;
    border: none;
    margin: 30px 0;
}

.seccion-5-parrafo {
    color: #666;
    line-height: 1.6;
    margin-top: 20px;
    font-size: 1.1rem;
}

.seccion-5-imagen img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}


/* SECCIO-6 */
.seccion-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    justify-content: center;
}

.seccion-6-titulo {
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
}

.seccion-6-hr {
    width: 5%;
    height: 3px;
    background-color: #FF8B38;
    border: none;
    margin: 2% 0;
}

.seccion-6-parrafo {
    color: #878787;
    font-size: 1.1rem;
}

.seccion-6-horizontal {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    gap: 10%;
    margin-top: 5%;
}

.horizontal-1 img {
    width: 15%;
}

.horizontal-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.horizontal-titulo-1 {
    margin: 8% 0;
    font-size: 1.5rem;
}

.horizontal-parrafo-1 {
    color: #878787;
    font-size: 1.1rem;
}

/* SECCION-7 */
.seccion-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: #f3f3f3;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.seccion-7-titulo {
    font-size: 3rem;
    font-weight: lighter;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}

.seccion-7-parrafo {
    color: #555;
    margin-bottom: 40px;
    font-size: 1.1rem;
}

.seccion-7-cartas {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.carta-1 {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.carta-1 h3 {
    background: #333333;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.carta-1-precio {
    font-size: 110px;
    background-color: #333;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.carta-1-precio span {
    font-size: 40px;
    vertical-align: super;
}

.carta-1-parrafo {
    color: #555;
    background-color: #333;
    border-color: #FF8B38;
    border-bottom: 5%;
}

.carta-1 hr {
    margin: 0;
    border: none;
    border-top: 1px solid #ddd;
}

.carta-1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.carta-1 ul li {
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #444;
}

.carta-2 h3 {
    background: #333;
}

.carta-2 .carta-2-parrafo {
    font-style: italic;
}

.carta-2-parrafo-2 {
    background-color: #FF8B38;
    color: white;
    padding: 2% 0;
}

/* SECCION 8 */
.seccion-8 {
    text-align: center;
    padding: 50px 10%;
    font-family: 'Raleway', sans-serif;
}

.seccion-8-titulo {
    font-size: 3rem;
    font-weight: lighter;
}

.seccion-8-hr {
    width: 90px;
    height: 2px;
    background: #FF8B38;
    border: none;
    margin: 40px auto;
}

.seccion-8-parrafo {
    color: #777;
    margin-bottom: 40px;
    font-size: 1.1rem;
}

.seccion-8-opiniones {
    display: flex;
    justify-content: center;
    gap: 12%;
}


.opinion-1 {
    position: relative;
    max-width: 300px;
}

.opinion-1 img {
    width: 100%;
    display: block;
}

.opinion-1-parrafo {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    font-size: 14px;
    color: #555;
    text-align: center;
    line-height: 1.4;
}

.opinion-1-persona-1,
.opinion-2-persona,
.opinion-3-persona {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.opinion-1-persona-1 img,
.opinion-2-persona img,
.opinion-3-persona img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.persona-1-nombre,
.persona-2-nombre,
.persona-3-nombre {
    font-weight: bold;
}

.persona-1-puesto,
.persona-2-puesto,
.persona-3-puesto {
    font-size: 13px;
    color: #777;
}

/* SECCION-9 */
.seccion-9 {
    background: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.582)), url(../assets/images/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    padding: 80px 20px;
    font-family: Arial, sans-serif;

}

.seccion-9-titulo {
    font-size: 3rem;
    font-weight: lighter;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}

.seccion-9-hr {
    width: 80px;
    height: 2px;
    border: 1px solid white;
    margin: 50px auto;
}

.seccion-9-parrafo {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #C2C0BE;
}

.seccion-9-boton {
    border: 1px solid white;
    background: none;
    color: white;
    padding: 15px 35px;
    font-size: 1.1rem;
    cursor: pointer;
}

/* SECCION-10 */
.seccion-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
    text-align: center;
}

.seccion-10-primera-parte {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.seccion-10-titulo {
    font-size: 3rem;
    font-weight: lighter;
}

.seccion-10-hr {
    width: 90px;
    height: 3px;
    background-color: #FF8B38;
    border: none;
}

.seccion-10-parrafo {
    color: #666;
    font-size: 1.1rem;
}

.seccion-10-formulario {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0 11%;
    width: 100%;
}

.seccion-10-formulario-1,
.seccion-10-formulario-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.seccion-10-formulario input,
.seccion-10-formulario textarea {
    width: 100%;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #D6D6D6
}

.seccion-10-boton {
    background-color: #FF9B51;
    border: none;
    color: white;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
}


/* FOOTER */
footer {
    display: flex;
    background-color: #000000;
    flex-direction: column;
    align-items: center;
    color: #878787;
    padding: 1% 0;
}

.foteer-redes {
    display: flex;
    gap: 35px;
    justify-content: center;
    margin-bottom: 0.5%;
}

.foteer-redes img {
    width: 30px;
}

.copyright {
    font-size: 15px;
}
@media (max-width: 480px) {
    nav {
        flex-direction: column;
        height: auto;
        line-height: normal;
        padding: 20px;
        text-align: center;
    }

    .nav-enlaces a {
        display: block;
        padding: 10px 0;
    }

    .seccion-1 {
        flex-direction: column;
        text-align: center;
        padding: 20px;
        height: auto;
    }

    .seccion-1-formulario {
        width: 100%;
    }

    .seccion-3,
    .seccion-4,
    .seccion-5 {
        flex-direction: column;
        height: auto;
        text-align: center;
        gap: 40px;
    }

    .seccion-6-horizontal,
    .seccion-7-cartas,
    .seccion-8-opiniones,
    .seccion-10-formulario {
        flex-direction: column;
        gap: 20px;
    }
}

@media(max-width: 768px) {
    nav {
        padding: 0 5%;
    }

    .seccion-1 {
        flex-direction: column;
        text-align: center;
        height: auto;
        gap: 30px;
    }

    .seccion-3,
    .seccion-4,
    .seccion-5 {
        flex-direction: column;
        height: auto;
        text-align: center;
        gap: 40px;
    }

    .seccion-6-horizontal,
    .seccion-7-cartas,
    .seccion-8-opiniones,
    .seccion-10-formulario {
        flex-direction: column;
        gap: 30px;
    }
}


@media (max-width: 920px) {
    nav {
        padding: 0 8%;
    }

    .seccion-1 {
        padding: 0 8%;
        gap: 40px;
    }

    .seccion-3,
    .seccion-4,
    .seccion-5 {
        gap: 10%;
        height: auto;
    }

    .seccion-6-horizontal,
    .seccion-7-cartas,
    .seccion-8-opiniones,
    .seccion-10-formulario {
        gap: 20px;
    }
}

@media (max-width: 1279px) {
    nav {
        padding: 0 8%;
    }

    .seccion-1 {
        padding: 0 8%;
    }

    .seccion-3,
    .seccion-4,
    .seccion-5 {
        gap: 15%;
    }
}

@media (min-width: 1280px) {
    .seccion-1 {
        padding: 0 11%;
    }

    .seccion-3,
    .seccion-4,
    .seccion-5 {
        padding: 0 11%;
    }
}
